@import url('https://malcat-gen.appspot.com/series?template=.data.image a[href^="/$list/$id/"]:after{background-image:url($series_image)}');
@import '../node_modules/font-awesome-sass/assets/stylesheets/font-awesome/variables';

$default-background: './assets/background.jpg';
$header-height: 150px;

$min-width: 820px;
$status-menu-height: 40px;

$icon-size: 14px;
$icon-size-l: 28px;

$font-size: 13px;
$font-size-m: 16px;
$font-size-l: 18px;

$item-padding: 3px;
$page-padding: 10px;
$icon-padding: 15px;
$text-padding: 10px;
$status-button-padding: 20px;

$cover-width: 225px;
$cover-height: 320px;
$edit-size: 50px;

$background: hsl(240, 15%, 20%);
$status-background: lighten($background, 10%);

$font-color: hsl(0, 0%, 100%);
$font-color-2: darken($font-color, 20%);
$font-color-3: darken($font-color, 50%);

$hue-offset: 360/6;
$dropped-color: hsl(0, 50%, 50%);
$on-hold-color: adjust-hue($dropped-color, $hue-offset);
$watching-color: adjust-hue($dropped-color, $hue-offset * 2);
$planned-color: adjust-hue($dropped-color, $hue-offset * 3);
$completed-color: adjust-hue($dropped-color, $hue-offset * 4);
$all-color: adjust-hue($dropped-color, $hue-offset * 5);

$score-color: saturate($dropped-color, 25%);

$status-shadow: linear-gradient(125deg, transparent 60%, rgba(#000, 0.5));
$box-shadow: rgba(#000, 0.5) 1px 1px 2px;
$text-shadow: #000 1px 1px 1px;
$edit-shadow: #000 2px 2px 5px;

$text-border: currentColor 1px solid;

@font-face {
  font-family: 'AGRevueCyr Roman Medium';
  src: local('AGRevueCyr Roman Medium'), local('AGRevueCyr-Roman-Medium'), url('./assets/AGRevueCyr.woff') format('woff');
}

@mixin fa($size: $icon-size) {
  display: inline-block;
  font: normal normal normal #{$size}/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

@mixin font($size: $font-size) {
  font: normal normal normal #{$size}/1 tahoma, verdana, arial, sans-serif;
}

@mixin tooltip-placement($h-align: left, $v-align: top, $h-offset: 0, $v-offset: 0) {
  @include font;
  #{$h-align}: $h-offset;
  #{$v-align}: $v-offset;
  margin-#{$v-align}: ($font-size + $item-padding*2) * -1;
  padding-#{$v-align}: $item-padding;
  text-align: $h-align;
  vertical-align: $v-align;
  height: $font-size + $item-padding;
  white-space: nowrap;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

@mixin tooltip($text, $h-align: left, $v-align: top, $h-offset: 0, $v-offset: 0) {
  &:after {
    @include tooltip-placement($h-align, $v-align, $h-offset, $v-offset);
    content: $text;
    position: absolute;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &:hover:after {
    width: 100px;
    opacity: 1;
  }
}

body {
  @include font;
  background-color: $background;
  background-position: top ($header-height+$status-menu-height) center;
}

input[type=text],
select {
  @include font;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: $text-border;
  outline: none;
  caret-color: $font-color;
  color: $font-color;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  option {
    color: #000;
  }
}

.header {
  height: auto;
  width: 100%;
  position: absolute;
  color: $font-color;

  .header-menu {
    position: relative;
    top: $page-padding;
    right: $page-padding;
    z-index: 1;

    &.other {
      top: $page-padding;
    }

    .btn-menu {
      font-size: $font-size-l;

      a {
        color: inherit;
      }

      #header-menu-button {
        font-weight: normal;
        cursor: unset;

        &:hover {
          text-decoration: none;
        }

        .fa {
          display: none;
        }
      }

    }

    .header-info {
      font-size: $font-size;
      margin-top: $item-padding;
      margin-right: $icon-size + $item-padding;

      a:last-child {
        @include tooltip('History', right, bottom, $icon-size + $item-padding);
        font-size: 0;

        .fa {
          font-size: $icon-size;
        }
      }
    }

    .list-menu {
      display: block !important;
      top: $font-size-l + $item-padding;
      right: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;

      .icon-menu {
        width: $icon-size;
        height: $icon-size;
        color: inherit;

        &:hover {
          background-color: transparent;
        }

        svg.icon,
        .text {
          display: none;
        }

        &.manga-list {
          @include tooltip('Manga List', right, bottom);

          &:before {
            @include fa;
            content: $fa-var-book;
            color: $font-color;
          }
        }

        &.anime-list {
          @include tooltip('Anime List', right, bottom);

          &:before {
            @include fa;
            content: $fa-var-film;
            color: $font-color;
          }
        }
      }
    }
  }

  .header-title {
    top: $page-padding;
    left: $page-padding;
    z-index: 1;
    font-family: 'AGRevueCyr Roman Medium', tahoma, verdana, arial, sans-serif;
    font-size: 32px;
    width: auto;
    background-image: none;
    color: inherit;
    text-indent: 0;
  }
}

.list-menu-float {
  position: relative;
  width: auto;
  border: 0;
  left: $page-padding;
  text-align: left;
  margin-top: ($icon-size + $item-padding) * -1;
  float: left;
  user-select: none;
  font-size: 0;
  top: $header-height;

  form {
    display: inline-block;
  }

  .icon-menu {
    background-color: transparent;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    margin-right: $icon-padding;
    color: $font-color;

    &:not(.profile):hover {
      background-color: transparent;
      width: $icon-size;
    }

    &.profile {
      @include tooltip('Profile');
    }

    .text {
      @include tooltip-placement;
    }

    svg.icon {
      display: none;
    }

    &:before {
      @include fa;
      text-shadow: $text-shadow;
    }

    &.profile {
      background-image: none !important;

      &:before {
        content: $fa-var-user;
      }
    }

    &.quick-add:before {
      content: $fa-var-plus-square;
    }

    &.anime-list:before {
      content: $fa-var-film;
    }

    &.manga-list:before {
      content: $fa-var-book;
    }

    &.history:before {
      content: $fa-var-history;
    }

    &.export:before {
      content: $fa-var-file;
    }

    &.logout:before {
      content: $fa-var-sign-out;
    }

    &.setting:before {
      content: $fa-var-cog;
    }

    &.setting {
      cursor: pointer;

      .text {
        font-size: 0;
        height: $font-size + $item-padding + $icon-size;
      }

      &:hover .text {
        width: 170px;
        height: $font-size + $item-padding + $icon-size;
        text-decoration: none;
        opacity: 1;

        .link-list-setting,
        .link-style-setting {
          background-color: transparent;
          font-size: $font-size;
          line-height: $font-size;
          height: auto;
          border: 0;
          display: inline-block;
          position: relative;
          top: 0;
          width: auto;
          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }

        .link-list-setting {
          padding-right: $text-padding;
        }

        .link-style-setting {
          padding-left: $text-padding;
          border-left: $text-border;
        }
      }
    }
  }
}

.list-container {
  width: auto;
  min-width: $min-width;
  background-color: transparent;
  border: 0;

  .cover-block {
    width: 100%;
    background: url($default-background) top/cover no-repeat;
    min-height: $header-height;

    #cover-image-container {
      padding-top: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .btn-list-setting {
        display: none;
      }

      #cover-image {
        max-width: none;
      }
    }
  }

  .status-menu-container {
    width: 100%;
    z-index: 3;
    background-color: $status-background;
    border: 0;
    height: $status-menu-height;
    box-shadow: $box-shadow;
    min-width: $min-width;

    .status-menu {
      height: 100%;
      border-spacing: 0;

      .status-button {
        @include font($font-size-l);
        padding: 0 $status-button-padding;
        color: $font-color-2;

        &.on {
          font-weight: bold;
        }

        &:after {
          border-radius: 2px;
        }

        &.all_anime:after {
          background-color: $all-color;
        }

        &.watching:after,
        &.reading:after {
          background-color: $watching-color;
        }

        &.completed:after {
          background-color: $completed-color;
        }

        &.onhold:after {
          background-color: $on-hold-color;
        }

        &.dropped:after {
          background-color: $dropped-color;
        }

        &.plantowatch:after,
        &.plantoread:after {
          background-color: $planned-color;
        }
      }
    }

    .search-container {
      margin-top: ($icon-size + $item-padding) * -1;
      right: ($icon-size + $icon-padding) * 3 + $page-padding;
      z-index: 1;

      #search-box {
        margin: 0;
        height: $font-size;

        &.open {
          background: transparent;
        }
      }

      #search-button {
        @include tooltip('Search', right);
        color: $font-color;
        font-size: $icon-size;
        height: $icon-size;
        margin: 0;

        i {
          text-shadow: $text-shadow;
        }
      }
    }

    &.fixed + div.list-block {
      margin-top: $status-menu-height + $page-padding;
    }
  }

  .list-block {
    margin: $page-padding;
    min-height: 0;
  }

  .list-unit {
    width: 100%;

    .list-status-title {
      height: auto;
      margin-top: ($status-menu-height + $page-padding + $icon-size + $item-padding) * -1;
      position: absolute;
      right: 0;
      font-size: 0;
      z-index: 1;

      .stats {
        line-height: normal;
        right: $page-padding + $icon-size + $icon-padding;
        color: $font-color;

        a {
          margin-right: 0;
          margin-left: $icon-padding;
          color: inherit;

          i {
            font-size: $icon-size;
            text-shadow: $text-shadow;
          }
        }

        #show-stats-button {
          @include tooltip('Statistics', right, top, $icon-size + $icon-padding);
        }

        #advanced-options-button {
          @include tooltip('Filter', right);
        }
      }

      .text {
        display: none;
      }
    }

    .list-stats {
      @include font;
      background-color: transparent;
      width: auto;
      position: absolute;
      margin-top: ($status-menu-height + $page-padding + $icon-size + $item-padding + ($font-size + $item-padding)*2) * -1;
      right: $page-padding;
    }

    .list-table {
      display: inline-block;
      width: 100%;
      border: transparent;
      text-align: center;

      tbody:first-child {
        margin-top: ($status-menu-height + $page-padding + $icon-size + $item-padding) * -1;
        position: absolute;
        right: $page-padding;
        cursor: pointer;
        color: $font-color;

        &:hover .list-table-header {
          width: 850px;
          opacity: 1;
        }

        &:after {
          @include fa;
          content: $fa-var-sort;
          text-shadow: $text-shadow;
        }

        .list-table-header {
          display: inline-block;
          position: absolute;
          right: 0;
          font-size: 0;
          z-index: 1;
          padding-top: $item-padding;
          margin-top: ($icon-size + $item-padding*2) * -1;
          margin-right: $text-padding * -1;
          height: $font-size + $icon-size + $item-padding;
          width: 0;
          opacity: 0;
          text-align: right;
          overflow: hidden;
          transition-property: opacity; //TODO: should be all but this will cause a ugly linebreak during the animation
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;

          .header-title {
            height: auto;
            width: auto;
            background: none;
            border-bottom: 0;
            display: inline-block;

            .sort-icon {
              color: $font-color;
            }

            .link {
              padding: 0 $text-padding;
              border-left: $text-border;
              color: inherit;
              font-weight: normal;
              font-size: $font-size;

              &:hover {
                text-decoration: underline;
              }
            }

            &.image {
              display: none;
            }

            &.title .link {
              border-left: 0;
            }
          }
        }
      }

      > tbody:nth-of-type(2n+1) {
        background-color: transparent;
      }

      .list-item {
        display: inline-block;
        position: relative;
        width: $cover-width;
        height: $cover-height;
        margin: $item-padding;
        box-shadow: $box-shadow;

        &:hover {
          width: $cover-width + $item-padding * 6;
          height: $cover-height + $item-padding * 6;
          margin: $item-padding*2 * -1;
          z-index: 2;

          .list-table-data .data.title .add-edit-more,
          .list-table-data .data.progress .icon-add-episode,
          .list-table-data .data.chapter .icon-add-chapter,
          .list-table-data .data.volume .icon-add-volume {
            display: block;
          }
        }

        .list-table-data {

          .data {
            position: absolute;
            padding: 0;
            border-style: none;

            &.status {
              display: none;

              &.watching ~ .progress,
              &.reading ~ .progress {
                background: $status-shadow, $watching-color;

                &:before {
                  content: $fa-var-play;
                }
              }

              &.plantowatch ~ .progress,
              &.plantoread ~ .progress {
                background: $status-shadow, $planned-color;

                &:before {
                  content: $fa-var-thumb-tack;
                }
              }

              &.completed ~ .progress {
                background: $status-shadow, $completed-color;

                &:before {
                  content: $fa-var-check;
                }
              }

              &.onhold ~ .progress {
                background: $status-shadow, $on-hold-color;

                &:before {
                  content: $fa-var-pause;
                }
              }

              &.dropped ~ .progress {
                background: $status-shadow, $dropped-color;

                &:before {
                  content: $fa-var-trash;
                }
              }
            }

            &.number {
              display: none;
            }

            &.image {
              width: 100%;
              height: 100%;

              .link {
                width: 100%;
                height: 100%;

                .image {
                  width: 100%;
                  height: 100%;
                  border: 0;
                }

                &:after {
                  content: '';
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                }
              }

              &:after {
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                content: '';
                background: linear-gradient(rgba(#000, 0) 70%, rgba(#000, 0.9));
              }
            }

            &.title {
              bottom: ($font-size + $item-padding)*2;
              left: $item-padding;
              right: $item-padding;
              text-align: center;

              .link {
                @include font($font-size-m);
                color: $font-color;
                text-shadow: $text-shadow;
              }

              .rewatching,
              .content-status {
                font-size: $font-size;
                color: $font-color-2;
                text-shadow: $text-shadow;
              }

              .add-edit-more {
                display: none;
                font-size: 0;
                position: absolute;
                width: 100%;
                bottom: $cover-height/2 - $edit-size;

                .edit {
                  background-color: rgba(#000, 0.7);
                  border-radius: $edit-size/2;
                  width: $edit-size;
                  height: $edit-size;
                  display: inline-block;
                  box-shadow: $edit-shadow;

                  a {
                    &:hover {
                      text-decoration: none;
                    }

                    &:before {
                      @include fa($icon-size-l);
                      color: $font-color;
                      content: $fa-var-pencil;
                      margin: ($edit-size - $icon-size-l) / 2;
                    }

                  }
                }
              }

              .icon-watch {
                display: none;
              }
            }

            &.score {
              z-index: 1;
              right: $item-padding;
              top: 0; //should be $item-padding but the heart doesn't touch the outline on top

              &:before {
                @include fa($icon-size-l);
                position: absolute;
                color: $score-color;
                content: $fa-var-heart;
                z-index: -1;
                right: 0;
                top: 0;
                text-shadow: $box-shadow;
              }

              .link {
                @include font;
                color: $font-color;
                top: ($icon-size-l - $font-size)/2 - 2px; //move up 2px because the heart is a bit head heavy
                right: 0;
                width: $icon-size-l;
                position: absolute;
              }

              select {
                top: ($icon-size-l - $font-size)/2 - 2px;
                right: $item-padding;
                width: 20px;
                position: absolute;
              }
            }

            &.type {
              @include font;
              color: $font-color-2;
              bottom: $item-padding;
              left: $item-padding;
            }

            &.progress,
            &.chapter,
            &.volume {
              @include font;
              color: $font-color;
              white-space: nowrap;
              font-size: 0;
              padding: $item-padding $item-padding*3 $item-padding $item-padding;
              border-bottom-right-radius: ($font-size + $item-padding*2)/2;
              box-shadow: $box-shadow;

              div {
                display: inline-block;
                vertical-align: top;
              }

              a {
                color: $font-color;
                font-size: $font-size;
              }

              span:only-child {
                font-size: $font-size;
              }

              span:nth-child(2) {
                font-size: $font-size;

                &:before {
                  content: '/';
                }
              }

              &:before {
                @include fa;
                display: inline-block;
                color: rgba($font-color, 0.5);
                margin-right: $item-padding*2;
              }

              .icon-add-episode,
              .icon-add-chapter,
              .icon-add-volume {
                display: none;
                position: absolute;
                right: ($icon-size + $item-padding) * -1;
                top: $item-padding;

                .fa {
                  font-size: $icon-size;
                  text-shadow: $text-shadow;
                }
              }
            }

            &.volume {
              top: $icon-size + $item-padding*2;
            }

            &.rated,
            &.magazine {
              @include font;
              color: $font-color-2;
              bottom: $item-padding;
              right: $item-padding;

              a {
                @include font;
                color: $font-color-2;
              }
            }

            &.season {
              bottom: $item-padding;
              right: $item-padding;
              left: $item-padding;
              text-align: center;

              a {
                @include font;
                color: $font-color-2;
              }
            }

            &.tags,
            &.started,
            &.finished,
            &.days,
            &.storage,
            &.priority,
            &.airing-started,
            &.airing-finished,
            &.studio,
            &.licensor,
            &.retail {
              display: none;
            }
          }
        }
      }
    }
  }
}

.manga .list-container .list-unit .list-table .list-item .list-table-data .data.status {
  height: ($icon-size + $item-padding)*2 + $item-padding;
}

#footer-block {
  background-color: transparent;
  padding: 0 0 $page-padding;
}

#copyright {
  @include font;
  color: $font-color-3;
}

#loading-spinner {
  color: $font-color-3;
}
