$min-width: 820px;
$header-height: 150px;

$icon-size: 14px;
$icon-size-l: 28px;

$font-size: 13px;
$font-size-m: 16px;
$font-size-l: 18px;

$background: hsl(240, 15%, 20%);
$status-background: lighten($background, 10%);

$font-color: hsl(0, 0%, 100%);
$font-color-2: darken($font-color, 20%);
$font-color-3: darken($font-color, 50%);

$hue-offset: 360/6;
$dropped-color: hsl(0, 50%, 50%);
$on-hold-color: adjust-hue($dropped-color, $hue-offset);
$watching-color: adjust-hue($dropped-color, $hue-offset * 2);
$planned-color: adjust-hue($dropped-color, $hue-offset * 3);
$completed-color: adjust-hue($dropped-color, $hue-offset * 4);
$all-color: adjust-hue($dropped-color, $hue-offset * 5);

$score-color: saturate($dropped-color, 25%);

$status-shadow: linear-gradient(125deg, transparent 60%, rgba(#000, 0.5));
$box-shadow: rgba(#000, 0.5) 1px 1px 2px;
$text-shadow: rgba(#000, 0.8) 1px 1px 0;

@mixin fa($size: $icon-size) {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: $size;
  line-height: 1;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

@mixin font($size: $font-size) {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: $size;
  line-height: 1;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
}

body {
  @include font;
  background: url('./assets/background.jpg') center top no-repeat, $background;
}

.header {
  height: $header-height;
  width: auto;

  .header-menu {
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 1;

    &.other {
      top: 10px;
    }
  }

  .header-title {
    top: 10px;
    left: 10px;
    z-index: 1;
  }
}

.list-menu-float {
  position: relative;
  width: auto;
  border: 0;
  left: 10px;
  text-align: left;
  margin-top: -17px;
  float: left;
  user-select: none;

  form {
    display: inline-block;
    margin-right: -3px;
  }

  .icon-menu {
    background-color: transparent;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    margin-right: 10px;
    color: $font-color;

    &:not(.profile):hover {
      background-color: transparent;
      width: $icon-size;
    }

    .text {
      @include font;
      left: 0;
      top: 0;
      margin-top: -28px;
      height: 18px;
      text-align: left;
      padding-top: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    svg.icon {
      display: none;
    }

    &:before {
      @include fa;
      text-shadow: $text-shadow;
    }

    &.profile {
      background-image: none !important;

      &:before {
        content: '\f007';
      }
    }

    &.quick-add:before  {
      content: '\f0fe';
    }

    &.anime-list:before  {
      content: '\f008';
    }

    &.manga-list:before  {
      content: '\f02d';
    }

    &.history:before  {
      content: '\f1da';
    }

    &.export:before  {
      content: '\f15b';
    }

    &.logout:before  {
      content: '\f08b';
    }

    &.setting:before  {
      content: '\f013';
    }

    &.setting {
      cursor: pointer;

      .text {
        display: none;
      }

      &:hover .text {
        width: 180px;
        height: 32px;
        text-decoration: none;
        display: block;

        .link-list-setting,
        .link-style-setting {
          background-color: transparent;
          line-height: $font-size;
          height: auto;
          border: 0;
          display: inline-block;
          position: relative;
          top: 0;
          width: auto;

          &:hover {
            text-decoration: underline;
          }
        }

        .link-list-setting {
          padding-right: 5px;
        }

        .link-style-setting {
          padding-left: 10px;
          border-left: $font-color 1px solid;
        }
      }
    }
  }
}

.list-container {
  width: auto;
  min-width: $min-width;
  background-color: transparent;
  border: 0;

  .cover-block {
    width: 100%;
    top: $header-height * -1;
    position: absolute;

    #cover-image-container {
      padding-top: 0;
      width: auto;
      height: $header-height;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-list-setting {
        display: none;
      }

      #cover-image {
        max-width: none;
        max-height: $header-height;
      }
    }
  }

  .status-menu-container {
    width: 100%;
    z-index: 2;
    background-color: $status-background;
    border: 0;
    height: 41px;
    box-shadow: $box-shadow;
    min-width: $min-width;

    .status-menu {
      height: 100%;
      border-spacing: 0;

      .status-button {
        @include font($font-size-l);
        padding: 0 20px;
        color: $font-color-2;

        &.on {
          font-weight: bold;
        }

        &:after {
          border-radius: 2px;
        }

        &.all_anime:after {
          background-color: $all-color;
        }

        &.watching:after {
          background-color: $watching-color;
        }

        &.completed:after {
          background-color: $completed-color;
        }

        &.onhold:after {
          background-color: $on-hold-color;
        }

        &.dropped:after {
          background-color: $dropped-color;
        }

        &.plantowatch:after {
          background-color: $planned-color;
        }
      }
    }

    .search-container {
      margin-top: -33px;
      right: 87px;
      z-index: 1;

      #search-box {
        margin-top: 8px;

        &.open {
          background: transparent;
        }

        input {
          @include font;
          background: transparent;
          border: 0;
          border-bottom: $font-color 1px solid;
          outline: none;
          caret-color: $font-color;
          color: $font-color;
          height: auto;
        }
      }

      #search-button {
        color: $font-color;
        font-size: $icon-size;

        i {
          text-shadow: $text-shadow;
        }
      }
    }

    &.fixed + div.list-block {
      margin-top: 45px;
    }
  }

  .list-block {
    margin-top: 3px;
    min-height: 0;
  }

  .list-unit {
    width: 100%;

    .list-status-title {
      height: auto;
      margin-top: -62px;
      position: absolute;
      right: 0;
      font-size: 0;
      z-index: 1;

      .stats {
        line-height: normal;
        right: 20px;

        a {
          margin-right: 12px;

          i {
            font-size: $icon-size;
            color: $font-color;
            text-shadow: $text-shadow;
          }
        }

      }

      .text {
        display: none;
      }
    }

    .list-stats {
      @include font;
      background-color: transparent;
      width: auto;
      position: absolute;
      margin-top: -105px;
      right: 10px;
      z-index: -1;
    }

    .list-table {
      display: inline-block;
      width: 100%;
      border: transparent;
      text-align: center;

      tbody:first-child {
        margin-top: -18px;
        position: absolute;
        top: 0;
        right: 10px;

        &:hover .list-table-header .header-title:not(.image) {
          display: table-cell;
        }

        &:after {
          @include fa;
          color: $font-color;
          content: '\f0dc';
          cursor: pointer;
          text-shadow: $text-shadow;
        }

        .list-table-header {
          display: inline-block;
          position: absolute;
          right: 0;
          font-size: 0;
          z-index: 1;
          padding-top: 10px;
          margin-top: -30px;
          margin-right: -10px;
          height: 32px;

          .header-title {
            height: auto;
            width: auto;
            background: none;
            border-bottom: 0;
            display: none;

            .sort-icon {
              color: $font-color;
            }

            .link {
              padding: 0 10px;
              border-left: $font-color 1px solid;
              color: $font-color;
              font-weight: normal;
              font-size: $font-size;

              &:hover {
                text-decoration: underline;
              }
            }

            &.title .link {
              border-left: 0;
            }
          }
        }
      }

      > tbody:nth-of-type(2n+1) {
        background-color: transparent;
      }

      .list-item {
        display: inline-block;
        position: relative;
        width: 225px;
        height: 320px;
        margin: 3px;
        box-shadow: $box-shadow;

        &:hover {
          /* increase size of image on hover (gets blurry)
          width: $imageWidth + $imagePadding * 2;
          height: $imageHeight + $imagePadding * 2;
          margin: 0;
          */

          .list-table-data .data.title .add-edit-more,
          .list-table-data .data.progress .icon-add-episode {
            display: block;
          }
        }

        .list-table-data {

          .data {
            position: absolute;
            padding: 0;
            border-style: none;

            &.status {
              width: 70px;
              height: 20px;
              z-index: 1;
              border-bottom-right-radius: 10px;
              box-shadow: $box-shadow;

              &:before {
                @include fa;
                position: absolute;
                color: rgba($font-color, 0.5);
                top: 3px;
                left: 3px;
              }

              &.watching {
                background: $status-shadow, $watching-color;

                &:before {
                  content: '\f04b';
                }
              }

              &.plantowatch {
                background: $status-shadow, $planned-color;

                &:before {
                  content: '\f08d';
                }
              }

              &.completed {
                background: $status-shadow, $completed-color;

                &:before {
                  content: '\f00c';
                }
              }

              &.onhold {
                background: $status-shadow, $on-hold-color;

                &:before {
                  content: '\f04c';
                }
              }

              &.dropped {
                background: $status-shadow, $dropped-color;

                &:before {
                  content: '\f1f8';
                }
              }
            }

            &.number {
              display: none;
            }

            &.image {
              width: 100%;
              height: 100%;

              .link {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;

                &:before {
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  position: absolute;
                  content: '';
                  background: linear-gradient(rgba(#000, 0) 70%, rgba(#000, 0.9));
                }

                .image {
                  display: none;
                }
              }
            }

            &.title {
              bottom: 30px;
              left: 5px;
              right: 5px;
              text-align: center;

              .link {
                @include font($font-size-m);
                color: $font-color;
                text-shadow: $text-shadow;
              }

              .add-edit-more {
                display: none;
                font-size: 0;
                position: absolute;

                .edit {
                  background-color: rgba(#000, 0.6);
                  border-radius: 25px;
                  position: absolute;
                  margin-top: -150px;
                  margin-left: 80px;
                  width: 50px;
                  height: 50px;

                  a {
                    left: 13px;
                    position: absolute;
                    top: 12px;

                    &:hover {
                      text-decoration: none;
                    }

                    &:before {
                      @include fa($icon-size-l);
                      color: $font-color;
                      content: '\f044';
                    }

                  }
                }
              }

              .icon-watch {
                display: none;
              }
            }

            &.score {
              z-index: 1;
              right: 0;
              top: 0;

              &:before {
                @include fa($icon-size-l);
                position: absolute;
                color: $score-color;
                content: '\f004';
                z-index: -1;
                right: 2px;
                top: 0;
                text-shadow: $text-shadow;
              }

              .link {
                @include font;
                color: $font-color;
                top: 6px;
                right: 6px;
                width: 20px;
                position: absolute;
              }
            }

            &.type {
              @include font;
              color: $font-color-2;
              bottom: 5px;
              left: 5px;
            }

            &.progress {
              @include font;
              z-index: 1;
              color: $font-color;
              width: 50px;
              height: 16px;
              text-align: center;
              left: 19px;
              top: 3px;
              white-space: nowrap;

              a {
                color: $font-color;
                margin-right: -4px;
              }

              span {
                margin-left: -4px;
              }

              .icon-add-episode {
                display: none;
                position: absolute;
                right: -15px;
                top: 0;

                .fa {
                  font-size: $icon-size;
                  text-shadow: $text-shadow;
                }
              }
            }

            &.rated {
              @include font;
              color: $font-color-2;
              bottom: 5px;
              right: 5px;
            }

            &.season {
              bottom: 5px;
              right: 5px;
              left: 5px;
              text-align: center;

              a {
                @include font;
                color: $font-color-2;
              }
            }

            &.tags,
            &.started,
            &.finished,
            &.days,
            &.storage,
            &.priority,
            &.airing-started,
            &.airing-finished,
            &.studio,
            &.licensor {
              display: none;
            }
          }
        }
      }
    }
  }
}

#footer-block {
  background-color: transparent;
  padding: 0 0 10px;
}

#copyright {
  @include font;
  color: $font-color-3;
}

#loading-spinner {
  color: $font-color-3;
}
